#body 
{background-color:rgb(175, 175, 3);}

#intro 
{text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;color:blue}

#welcomeInput 
{text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;color:rgb(0, 0, 0)}

#quiz 
{text-align: center; color:blue;font-size:20px;}





#js_timer {
    text-align: center;
}
#timer{
    background: #fff;
    color: #000;
    width: 100px;
    margin: 50px auto;
}




